{% extends 'base.html' %}

{% block content %}


{% for field, errors in form.errors.items() %}
    <div class="alert alert-danger" role="alert">
			{{ ', '.join(errors) }}
	</div>
{% endfor %}

{% if current_user.is_authenticated  %}

	<h1>Parola Güncelleme</h1>
	<p class="lead">Parolanızı güncellemek için formu doldurup kaydet butonuna tıklayın.</p>
	<div class="shadow p-3 mb-5 bg-body rounded">
		<form method="POST", action="/password_update">
			{{ form.hidden_tag() }}
			
			{{ form.old_password.label(class="form-label") }}

			{{ form.old_password(class="form-control") }}
			<br>
			{{ form.new_password.label(class="form-label") }}

			{{ form.new_password(class="form-control") }}
			<br>
			{{ form.new_password2.label(class="form-label") }}

			{{ form.new_password2(class="form-control") }}
			<br>
			{{ form.submit(class="btn btn-primary") }}
		</form>
		</div>
{% else %}

	<meta http-equiv="Refresh" content="0; url={{url_for('home')}}" />


{% endif %}
{% endblock %}