{% extends 'base.html' %}

{% block content %}

{% if current_user.is_authenticated  %}
<!-- redirecting the user to dashboard if already authenticated -->
	<meta http-equiv="Refresh" content="0; url={{url_for('dashboard')}}" />


{% else %}


	<h1>Parolanızı mı Unuttunuz?</h1>
	<p class="lead">Lütfen kayıtlı email adresinizi giriniz.
	<br>
	Parolanızı sıfırlamak için bilgileri içeren bir email bu adrese gönderilecektir.</p>


	<div class="shadow p-3 mb-5 bg-body rounded">
		
		<br/>
		<form method="POST">
			{{ form.hidden_tag() }}

			{{ form.email.label(class="form-label") }}

			{{ form.email(class="form-control") }}
			
			<br/>

			{{ form.submit(class="btn btn-secondary") }}
		</form>

	</div>
{% endif %}
{% endblock %}