{% extends 'base.html' %}

{% block content %}

{% for field, errors in form.errors.items() %}
    <div class="alert alert-danger" role="alert">
		{{ ', '.join(errors) }}
	</div>
{% endfor %}

	<h1>Parolanızı mı Unuttunuz?</h1>
	<p class="lead">Parolanızı güncellemek için lütfen aşağıdaki formu doldurunuz.</p>
	<div class="shadow p-3 mb-5 bg-body rounded">
		<br/>
		<form method="POST">
			{{ form.hidden_tag() }}

			{{ form.new_password.label(class="form-label") }}

			{{ form.new_password(class="form-control") }}
			
			<br/>
			{{ form.new_password2.label(class="form-label") }}

			{{ form.new_password2(class="form-control") }}
			
			<br/>

			{{ form.submit(class="btn btn-secondary") }}
		</form>
	</div>
{% endblock %}